#table {
  &.animate {
    animation-name: flipTranslateX, flipTranslateY, flipRotate;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-composition: add;
    animation-timing-function: ease-out, linear, linear;
  }

  @keyframes flipTranslateX {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(${translationWidth}px);
    }
  }

  @keyframes flipTranslateY {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100px);
    }
  }

  @keyframes flipRotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(${rotationDeg}deg);
    }
  }
}
